# Object files
*.o

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Autotools stuff
.deps/
.libs/
/autom4te.cache/
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/stamp-h1
Makefile
Makefile.in

# Coverage artifacts
*.gcda
*.gcno
daq-*-coverage/
daq-*-coverage.info

# Unit test artifacts
/test-driver
/test/*_test
/test/*_test.log
/test/*_test.trs
/test/test-suite.log

# Locally generated artifacts
modules/daq-modules-config
sfbpf/sf_grammar.c
sfbpf/sf_scanner.c
sfbpf/sf_scanner.h
sfbpf/tokdefs.h
example/daqtest
example/daqtest-static

# Other things
*.swp
